/* Default: Mobile layout (Menu on top) */
/* html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} */

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* position: relative; */
}

#burgerButton {
}

#menu {
  width: 100%;
  position: fixed;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Desktop layout (Menu on the side) */
@media (min-width: 768px) {
  .app {
    flex-direction: row;
    height: 100vh; /* Take full viewport height */
  }
  #menu {
    width: 250px; /* Or any fixed width you like */
    overflow: hidden;
  }
  #outlet {
    flex: 1; /* Take remaining space */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  #burgerButton {
    display: none;
  }
}
