/* Light mode (default) */
:root {
  --menu-bg: lightgray;
  --menu-fg: black;
  --page-bg: white;
  --page-fg: black;
}

/* Dark mode (triggered by .dark class on body)*/
body.dark {
  --menu-bg: black;
  --menu-fg: white;
  --page-bg: darkgray;
  --page-fg: white;
}

#menu {
  background-color: var(--menu-bg);
  color: var(--menu-fg);
}

#outlet {
  background-color: var(--page-bg);
  color: var(--page-fg);
}
